/*
// @autor Robin Giles Ribera
// @grado en ingeniería en Tecnologías de las telecomunicaciones
// @project Redes
// 2013
*/

@font-face {
  font-family: iconFont;
  src: url('../font/iconFont.ttf');
}
@font-face {
  font-family: Lobster;
  src: url('../font/Lobster.ttf');
}
body {
  font-family: "Helvetica",'ubuntu',"Times New Roman",serif;
  height: 100%;
  color: #fff;
  margin: 0;
  line-height: 1.5;
}

header h1 {
  padding: 3% 1%;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #d5d5d5;
}

.btnTab {
  height: 40px;
  width: 50%;
  padding-top: 5px;
  margin-bottom: 24px;
  display: inline;
  float: left;
  text-align: center;
  cursor: pointer;
}

.btnTab.btnTabSelected {
  border-bottom: 4px solid #39f;
}

#sidebar {
  float: left;
  position: fixed;
  display: inline;
  height: 100%;
  width: 140px;
  max-width: 140px;
  margin: 0;
  padding: 0;
  background-color: #202020;
  text-align: center;
  color: #fff;
  z-index: 10;
}

#sideMain {
  float: left;
  position: relative;
  display: inline;
  height: 100%;
  width: 140px;
  margin: 0;
  padding: 0;
  background-color: #202020;
  text-align: center;
  color: #fff;
  webkit-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
  -moz-box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
  box-shadow: inset -1px 0 0 rgba(0,0,0,0.3);
  z-index: 2;
}

#sideActivity {
  display: inline;
  position: fixed;
  width: 360px;
  left: 140px;
  text-align: left;
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: #333332;
  box-shadow: inset -9px 0 10px -6px rgba(0,0,0,0.9),
            inset 9px 0 10px -6px rgba(0,0,0,0.9);
  top: 60px;
  z-index: 10;
}
#activity {
  padding: 0;
  margin: 0;
  list-style: none;
}

#titleActivity {
  position: fixed;
  left: 140px;
  width: 360px;
  text-align: center;
  background-color: #202020;
  z-index: 10;
}

#titleActivity a {
  font-family: 'Lobster', 'Helvetica', 'Ubuntu', sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 2.6em;
  text-decoration: none;
}
.toggleActivity.toggleBack {
  float: right;
  font-family: 'iconFont' !important;
}
.toggleActivity.toggleBack:before {
  content: '\e09f';
}
.toggleActivity.toggleShow {
  left: 140px;
  position: absolute;
  color: #fff;
  font-size: 2.6em;
  text-decoration: none;
  font-family: 'iconFont' !important;
  z-index: 2;
}
.toggleActivity.toggleShow:before {
  content: '\e09d';
}
.homeActivity, .unselectMessages {
  float: left;
  font-family: 'iconFont' !important;
  text-decoration: none;
  color: #fff !important;
  font-size: 2.6em;
}
.homeActivity:before {
  content: '\e000';
}
.unselectMessages:before {
  content: '\e037';
}
.homeActivity:hover,
.unselectMessages:hover,
.unselectMessages.selected,
.homeActivity.onHome,
.scrollHome:hover,
.toggleStreetView:hover,
.toggleStreetView.active {
  color: #39f !important;
}
.scrollHome {
  display: none;
}
.scrollHome.active {
  display: block;
  top: 80px;
  right: 20px;
  float: right;
  font-family: 'iconFont' !important;
  text-decoration: none;
  color: #000 !important;
  font-size: 2.6em;
  text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
  z-index: 5;
  position: absolute;
}
.scrollHome.active:before {
  content: '\e09f';
}
.toggleStreetView:before {
  content: '\e079';
}
.toggleStreetView {
  position: absolute;
  top: 10px;
  right: 200px;
  margin-right: 20px;
  display: inline;
  font-family: 'iconFont' !important;
  text-decoration: none;
  color: #000 !important;
  font-size: 2em;
  z-index: 5000;
  text-shadow: -1px 0 #ddd, 0 1px #ddd, 1px 0 #ddd, 0 -1px #ddd;
}


.logo span {
  font-family: 'Lobster', 'Helvetica', 'Ubuntu', sans-serif;
  color: #fff;
  text-transform: capitalize;
  font-size: 2.6em;
  text-shadow: -3px 3px 0 #393431, 0 3px 0 #393431,
              -3px 0 0 #393431, -4px 4px 0 #39f, 
              -5px 5px 0 #39f, -0px 0px 0 #39f;
}

/* Scrollbar */
.contentHolder {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  display: block;
}
#wrapper {
  padding-top: 80px !important;
  padding-right: 0;
  padding-bottom: 2em;
  padding-left: 500px;
  z-index: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}
.contentHolder.main {
  padding-left: 20px !important;
}

#content.main {
  position: relative !important;
  z-index: 0;
  height: 100%;
}

#inputSearchContent {
  background-color: white;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.input-search {
  width: 115px;
  height: 30px;
  padding: 5px 4px;
  color: #333333;
  text-shadow: 0 1px 0 #fff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  float: left;
}
.btn-clear-peopleSearch:before {
  content: "\e0a3"; /* button clear */
}
.btn-clear-peopleSearch {
  color: #777777;
  font-family: "iconFont",sans-serif;
  font-size: 20px;
}
.btn-clear-peopleSearch:hover {
  cursor: pointer;
}

/* People */
#peopleListContent .ps-scrollbar-y,
#peopleSearchContent .ps-scrollbar-y {
  right: 0px !important;
  width: 5px;
  background-color: #39f;
  border-radius: 0px;
}
.people {
  position: relative;
  display: block;
}
.people img {
  height: 100px;
  position: relative;
  background-color: #202020;
  border: 4px solid #202020;
  cursor: pointer;
}

.people .overlay {
  width: 100%;
  overflow: hidden;
  background-color: #202020;
  color: #fff;
  font-size: 8pt;
  text-align: center;
  text-overflow: ellipsis;
  opacity: .8;
  cursor: pointer;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  transform: translate(0, -20px);
}
.people.selected .closeBtn,
.people.search .closeBtn {
  padding: 0 1pt;
  position: absolute;
  overflow: auto;
  color: #fff;
  font-family: 'iconFont';
  -webkit-transform: translate(100px, -102px);
  -moz-transform: translate(100px, -102px);
  transform: translate(100px, -102px);
  z-index: 5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: right !important;
}
.closeBtn {
  cursor: pointer;
}
.people.selected .closeBtn:before,
.people.search .closeBtn:before {
  content: ""; /* Close Button */
  text-align: right !important;
}
.people.search .closeBtn.addPeople:before {
  content: "\e083"; /*Add button*/
  text-align: right !important;
}
.people.search .closeBtn.addedPeople:before {
  content: "\e08a"; /*Already added*/
  text-align: right !important;
}
.people.selected img.selected {
  border: 4px solid #F60;
}

/* News */
.feedResume a {
  color: #08C;
  text-decoration: none;
}
.feedHead {
  text-align: left;
  padding: 10px 10px 20px 10px;
  margin: 0;
  cursor: pointer;
  list-style: none;
  min-width: 200px;
  min-height: 32px;
}
.feedHead.ui-selected {
  background-color: #F39814;
}
.feedResume, .feedResume p,
.feedResume .feedTitle {
  font-size: 9pt;
  padding: 0;
  margin: 0;
}
.feedPhoto {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  display: block;
  float: left;
  margin-left: 0px;
  margin-right: 5px;
}
.feedPhoto img {
  width: 100%;
}
.feedBody{
  height: auto;
  font-size: 10pt;
  padding: 0;
  margin: 0;
  padding-top: 5pt;
}
.feedDate {
  color: #08C;
  font-weight: normal;
  font-size: 8pt;
  float: right;
  text-align: right;
  display: inline;
  right: 0;
  top: 0;
}

.buttonUpdate {
  color: #0084B4;
  display: block;
  margin: 0 0 1em 0;
  padding: 1em 0;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,.6);
  font-weight: normal;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  z-index: 2;
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.05);
}
.buttonLike, .buttonLikeCount {
  border: #ccc solid 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: .1em .2em;
}
.feedButtonLike {
  position: relative;
  right: 0px;
  bottom: 1px;
  float: right;
}
.feedHead:not(:hover) .feedButtonLike {
  display: none; /* Hide button like */
}
.feedHead:hover .feedButtonLike {
  display: block; /* Hide button like */
}
.buttonLike:before {
  content: '\e083';
}

/* Photos */
.photo {
  box-sizing: border-box;
  background-color: #fff;
  padding: .5%;
  margin-left: .1em;
  max-width: 31%;
}
.photo:hover {
  background-color: #39f;
}
#youPhotosPage .photo {
  margin-top: 10px;
}
.photoLarge {
  width: 100%;
}


/* Flicker */
#images {
  display: inline;
  position: absolute;
  padding-top: 5%;
}
.flickr_item {
  padding: 10px;
}
.flickr_item img{
  height: auto;
  width: auto;
  max-width: inherit;
}
.flickr_title {
  width: 100%;
  background: black;
  color: white;
  opacity: 0.7;
  margin-top: -40px;
  height: 40px;
  margin-right: 10px;
  font-size: 12pt;
  line-height: 40px;
  text-indent: 10px;
}

/* Google */
#omnibarMenu {
  background: #202020;
  position: fixed;
  display: block;
  height: 63px;
  width: 100%;
  z-index: 101;
}
.gSign {
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
}
.gAvatar {
  display: inline-block;
  background: #202020;
  background-size: 100%;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  margin-right: 4px;
  float: right;
  border: 1px #ccc solid; 
  width: 40px; 
  height: 40px;
}
.gAvatar:hover {
  background: #e74b37;
  cursor: hand;
}
.gAvatar.disconnect:hover:before {
  color: white;
  font-size: 30pt;
  font-family: "iconFont";
  content: "\e09e";
  text-align: right;
  line-height: 1;
}
.googleBrand:before {
  color: white;
  font-size: 24pt;
  font-family: "iconFont";
  content: "\e0bc";
  text-align: right;
}
.gSign .name {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  line-height: 13pt;
  /*color: #2e92cf;*/
  color: #fff;
  text-decoration: none;
  text-align: right;
  float: left;
  padding: 0 10pt;
}
.gSign .first-name {
  font-size: 20pt;
  line-height: 22pt;
  display: block;
  margin: 0;
}
.gSign .last-name {
  font-size: 9pt;
  line-height: 11pt;
  display: block;
  margin: 0;
}


/* Courtain */
#courtain {
  clear: both;
  background: #222;
  position: fixed;
  margin: auto auto;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 100;
}

#courtain h1, .responsiveFont {
  font-family: 'Lobster', 'Ubuntu', 'Helvetica', sans-serif;
  position: absolute;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 5%;
  height: 100%;
  width: 100%;
  color: #ddd;
  z-index: 101;
  cursor: pointer;
  text-shadow: -3px 3px 0 #393431, 0 3px 0 #393431,
              -3px 0 0 #393431, -4px 4px 0 #39f, 
              -5px 5px 0 #39f, -0px 0px 0 #39f;
}

#courtain,
#courtain:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#courtain:after {
  content: '';
  background: transparent url(../img/pattern.png) repeat top left;
}
#courtain span {
  background-image: url(../img/courtain2.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 8s linear infinite;
  -moz-animation: imageAnimation 8s linear infinite;
  animation: imageAnimation 8s linear infinite;
}

@-webkit-keyframes imageAnimation { 
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-animation-timing-function: ease-in;
  }
  15% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: scale(1.05) rotate(-1deg);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.15) rotate(3deg);
  }
  35% {
    opacity: .9;
    -webkit-transform: scale(1.2) rotate(-2deg);
  }
  65% {
    opacity: 1;
    -webkit-transform: scale(1.05) rotate(-1deg);
  }
  100% { 
    opacity: 1;
  }
}
@-moz-keyframes imageAnimation { 
  0% {
    opacity: 1;
    -moz-transform: scale(1);
    -moz-animation-timing-function: ease-in;
  }
  15% {
    opacity: 1;
    -moz-transform: scale(1.1);
    -moz-animation-timing-function: ease-out;
    -moz-transform: scale(1.05) rotate(-1deg);
  }
  25% {
    opacity: 1;
    -moz-transform: scale(1.15) rotate(3deg);
  }
  35% {
    opacity: .9;
    -moz-transform: scale(1.2) rotate(-2deg);
  }
  65% {
    opacity: 1;
    -moz-transform: scale(1.05) rotate(-1deg);
  }
  100% {
    opacity: 1;
  }
}
@keyframes imageAnimation { 
  0% {
    opacity: 1;
    transform: scale(1);
    animation-timing-function: ease-in;
  }
  15% {
    opacity: 1;
    transform: scale(1.1);
    transform: scale(1.05) rotate(-1deg);
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
    transform: scale(1.15) rotate(3deg);
  }
  35% {
    opacity: .9;
    transform: scale(1.2) rotate(-2deg);
  }
  65% {
    opacity: 1;
    transform: scale(1.05) rotate(-1deg);
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Design */
@media screen and (max-width: 700px) {
/*  #sideActivity {
    position: relative;
    width: 100%;
    height: auto;
  }
  #content {
    width: 100%;
  }
  #selectable li:not(:first-child) {
    display: none;
  }
  #sideActivity ul {
    margin: 0 0;
    padding: 0 0;
  }*/
  #selectable li {
    display: list-item !important;
  }
}
@media screen and (min-width: 700px) {
  #selectable li {
    display: list-item !important;
  }
/*  #sideActivity {
    position: fixed;
    width: 20%;
    height: 100%;
    display: block;
  }
  #sideActivity ul {
    margin: 0 0 4em;
    padding: 2em 0 0;
  }
  #content {
    width: 80%;
  }*/
}



